@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0
}
nav h1, h1 span{
    font-size:1.4rem;
    font-weight: 700;
}
h1 span{
    color:rgb(65, 104, 231);
}
nav{
    background-color: rgb(20, 20, 20);
    color: white;
    display: flex;
    justify-content:space-around;
    padding: 1rem;
}
nav ul a{
    list-style: none;
    display: inline;
    margin: 0 2em;
    font-weight: 400;
    text-decoration: none;
}

#Home{
    font-weight:bold;
    color:rgb(65, 104, 231);
    font-size:1.2rem
}
.hero{
    width: 100%;
    background-color:rgb(43, 43, 43);
    text-align:center;
    font-size: 4rem;
    padding: 3rem 0;
    font-weight: 700;
    color:white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}
.search_sort{
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: rgba(155, 166, 241, 0.397)
}
.dropdown {
    position: relative;
    display: inline-block;
    font-size: 1.2rem;
    font-weight:bold;
    background-color:rgb(32, 32, 32);
    color: white;
    padding: 0.5rem 1.2rem;
    border-radius:0.8rem;
    margin: 1rem;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f3f2f2;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: black;
    padding: 0.5rem 0;
    margin: 0.5rem 0;
    border-radius: 0.6rem;
    left: 0;
}
.dropdown-content ul button{
    background-color:none !important;
    border:none;
    width: 100%;
  }
.dropdown-content ul button:hover{
    background-color:rgb(50, 50, 50);
    color: white;
    font-weight: bold;
    transition: 250ms ease-in-out;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .search{
      width: 70%;
  }
  input{
    width: 100%;
    border-radius: 2rem;
    padding:  0 1.5rem;
}
#search{
background-color:    rgb(32, 32, 32);
    font-size: 1rem;
    color: white;
    padding: 0.3rem  1.5rem;
    border-radius:1.2rem;
    border:none;
}
#search:hover{
    background-color: rgb(70,70,70)
}
.products{
    display:grid;
    grid-template-columns: repeat(3,auto);
    gap: 2rem 2rem;
    padding: 1rem 1.3rem;
    border: 1px solid rgba(0, 0, 0, 0);
    max-width: 100%;

}
.product{
height:35rem;
padding: 1rem 1.3rem;
display:flex;
flex-direction: column;
background-color: rgb(248, 246, 246);
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
border-radius: 0.6rem;
justify-content: center;
align-items: center;
}
.productImage{
    margin: 1rem;
    height: inherit;
    width: 100%;
    background-size: cover;
    background-position: center 10%;
    background-repeat:no-repeatl;
}
.ditails{
    padding: 0.3rem 0rem;
}
.ditails > *{
    text-align: center;
    font-weight: bold;
    font-size:1.3rem;
    margin:0.2rem;
}
.ditails button{
    background-color:    rgb(65, 104, 231);
    font-size: 1rem;
    color: white;
    padding: 0.3rem  1.5rem;
    border-radius:1.2rem;
    border:none;
}

button:hover{
    background-color:rgb(12,12,12);
    color: white;
    transition: 250ms ease-in-out;
}

